# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Progra_3D_Tp3.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\husso\Downloads\Cours\4eme annee\Module\Semestre 2\Programmation 3D\TP\Progra_3D_Tp3\.idea\.idea.Progra_3D_Tp3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
