# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Progra_3D_Tp2.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Jimmy\Projets_Unity\Programmation_3D-master\Progra_3D_Tp2\.idea\.idea.Progra_3D_Tp2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
