# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.MenuProjet.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\husso\Downloads\Cours\4eme annee\Module\Semestre 2\Programmation 3D\MenuProjet\.idea\.idea.MenuProjet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
