# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Projet_3D.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\JIMMY\Projet_Unity\Projet_3D\.idea\.idea.Projet_3D\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
