# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.DialogueExo.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Jimmy\Projets_Unity\DialogueExo\.idea\.idea.DialogueExo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
